
<form>
  <div class="row">
    <div class="col-md-6">
      
      <div class="row m-t-10">
        <div class="col-md-12 floating-form">
          <div class="floating-label">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-mobile"></i>
                </span>
              </div>
              <input class="floating-input form-control" type="text" placeholder=" ">
              <label>Enter Mobile Number</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-12">
          <div class="floating-form">
            <div class="floating-label">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-cog"></i>
                  </span>
                </div>
                <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);"
                  value="">
                  <option value=""></option>
                </select>
                <label>Select Your Operator</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-12">
          <div class="floating-form">
            <div class="floating-label">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-bank"></i>
                  </span>
                </div>
                <select class="floating-select form-control" onclick="this.setAttribute('value', this.value);"
                  value="">
                  <option value=""></option>
                </select>
                <label>Select Your Circle</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-t-10">
        <div class="col-md-12 floating-form">
          <div class="floating-label">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-rupee "></i>
                </span>
              </div>
              <input class="floating-input form-control" type="text" placeholder=" ">
              <label>Enter Amount</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/image/001.png" width="100%" class="border">
    </div>
  </div>
</form>

