.card-header{background:#fff;text-align: center;margin-bottom: 0px;}
.card-body{min-height: 580px;}
.back{background: #edf1f5;}
.nav-link{width: 185px;}
.ifsc-search{   
    width: 40%;
    min-height: 15px!important;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    position: relative;
    left: 125px;
   }

    
.login-register1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    position: fixed;
  }
.nav-link1{width: 160px;}
.btn{min-width: 150px;}
.btn{font-size: 13px}
.modal-header{
  background: #3f51b5;
}
