<div class="row">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search by Mobile Number or Transaction ID">
  </div>
</div>

<div class="table table-responsive table-bordered m-t-10">
  <table class="table">
    <thead>
      <tr>
        <th>S.No <br> &nbsp;</th>
        <th class="w-150" >Transaction <br>  Date</th>
        <th >Transaction <br>ID</th>
        <th > Reference Number (RRN)</th>
        <th >Amount <br> &nbsp;</th>
        <th >Transaction  Type</th>
        <th >Transaction  Status</th>
        <th >Transaction Remarks</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td class="arial">2019-11-12 11:12:13</td>
          <td class="arial">OPUP12345620191112111213</td>
          <td>123456789123</td>
          <td>3000</td>
          <td>Credit</td>
          <td>Success</td>
          <td>AEPS-Cashwithdrawal-Success</td>
        </tr>
      </tbody>
  </table>
</div>